{% load nvd3_tags %}
{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
		{% include_chart_jscss %}
		{# Jquery CDN : Needed when using jquery_on_ready=True #}
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script type="text/javascript" src="{% static "js/bootstrap.js" %}" ></script>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Remote Environmental Sensing Tram</title>
        <meta name="description" content="SDP Team 12">
        <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "main.css" %}">
		<script type="text/javascript">
		
		{% load_chart charttype chartdata chartcontainer extra %}
			
		</script>
	
	
	</head>
    <body>
		
		
		<div id="menu" class="container">
			<ul>
				<li id="begP"><a href="/">Home</a></li>
				<!--<li id="mid"><a href="/data/tram_info/">Tram Information</a></li>
				<li id="mid"><a href="/articles/commands/">Command the Tram</a></li>-->	
				<li id="endT"><a href="/data/graph/3/">Collected Data</a></li>
			</ul>
		</div>
		
		
        <h1>Remote Environmental Sensing Tram</h1>
		
		
		
		
		<div id="data_for_table">
		
		
		<nav>
			<ul>
				<li><a href="/data/graph/3/">Min. Battery Volt</a></li>
				<li><a href="/data/graph/4/">PTemp</a></li>
				<li><a href="/data/graph/5/">Logger.Temp</a></li>
				<li><a href="/data/graph/6/">NDVIDownRed</a></li>
				<li><a href="/data/graph/7/">NDVIDownNIR</a></li>
				<li><a href="/data/graph/8/">NDVIUpRed</a></li>
				<li><a href="/data/graph/9/">NDVIUpNIR</a></li>
				<li><a href="/data/graph/10/">NDVI</a></li>
				<li><a href="/data/graph/11/">PRIDown532</a></li>
				<li><a href="/data/graph/12/">PRIDown570</a></li>
				<li><a href="/data/graph/13/">PRIUp532</a></li>
				<li><a href="/data/graph/14/">PRIUp570</a></li>
				<li><a href="/data/graph/15/">PRI</a></li>
				<li><a href="/data/graph/16/">TempK</a></li>
				<li><a href="/data/graph/17/">TempC</a></li>
				<li><a href="/data/graph/18/">SWin</a></li>
				<li><a href="/data/graph/19/">SWout</a></li>
				<li><a href="/data/graph/20/">SWnet</a></li>
				<li><a href="/data/graph/21/">LWin</a></li>
				<li><a href="/data/graph/22/">LWout</a></li>
				<li><a href="/data/graph/23/">LWnet</a></li>
				<li><a href="/data/graph/24/">NetRad</a></li>
				<li><a href="/data/graph/25/">Albedo</a></li>
				<li><a href="/data/graph/26/">IR.BodyT.C</a></li>
				<!--<li><a href="/data/graph/27/">IR.TargetT.C</a></li>-->
			</ul>
		</nav>		
		
		
		</div>
		
	<div>
	</div>	
		
        <p> Table of data values available <a href="/data/table/">here</a>.</p>
		<p>Download images and uploaded Excel files of data from <a href="/articles/all_files/">here</a>. </p>
		<button id="refresh_btn" type="button" class="btn btn-default hidden" onclick="refresh()">New Data is available click here to reload the page.</button>
			
	
		
		
		
		<div>
		
		{% include_container chartcontainer 600 '100%' %}
		
		</div>
		
		<script>
		
			var cur_id = parseInt( {{ id }} );
			var new_data = 0;
			
			
			function get_id(){
				
				var xmlHttp = null;
				
				xmlHttp = new XMLHttpRequest();
				xmlHttp.open( "GET", "http://192.168.1.10:8000/data/get_latest_graph_id/", false );
				xmlHttp.send( null );
				if(parseInt(xmlHttp.responseText) > cur_id){
				
					document.getElementById('refresh_btn').setAttribute('class', 'btn btn-default visible');
				
				
				}
				
			}
			
			function refresh(){
			
				 location.reload();
			
			}
			
			setInterval(function() {
                if(new_data == 0){
				
					get_id();
				
				}
            }, 500000 ); //set an interval timer up to repeat the function
		
		</script>
		
    </body>
</html>